{% extends 'organization/base.html' %}

{% load crispy_forms_tags %}
{% block navbar %}
{% include 'organization/navbar.html' %}
{% endblock %}

{% block content %}
  <div class="jumbotron" style="">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title" style="max-width: 450px; margin: 100px 200px -50px 10px;">Список доступных ключей</h4>
          <div class="container-sm" style="float: right; margin-right: -720px; padding-bottom: 10px;">
            <form method="get">

                    {{filter.form|crispy}}
		        <button class="btn btn-dark" type="submit" style="margin-bottom: 5px;">Search</button>
		    </form>
          </div>

        <table class="table table-light table-hover table-bordered">
          <thead>
            <tr>

              <th scope="col">Навзвание организации</th>
              <th scope="col">Ключ</th>
              <th scope="col">Начало действия</th>
              <th scope="col">Окончание действия</th>
              <th scope="col">Наличине блокировки</th>
              <th scope="col">Действия</th>

            </tr>
          </thead>
          <tbody>
          {% for key in filter.qs %}

            <tr>
<!--             <th class="center" scope="row">{{key.org_id.name}}</th>-->
              <td>{{key.org_id.name}}</td>
              <td>{{key.key}}</td>
              <td>{{key.start_date}}</td>
              <td>{{key.stop_date}}</td>
              <td>{{key.is_blocked}}</td>
              <td>
                <button class="btn btn-dark"><a style="text-decoration: none; color: #ffc107" href="{% url 'del_key' key.id %}">Удалить</a></button>
                <button class="btn btn-light"><a style="text-decoration: none; color: #ffc107" href="{% url 'create_key' %}"> Добавить</a></button>
                <button class="btn btn-dark"><a style="text-decoration: none; color: #ffc107" href="{% url 'update_key' key.id %}">Изменить</a></button>
              </td>
            </tr>

          {% endfor %}
          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>
<!-- style="margin: 18px 55px 10px 1450px"-->
{% endblock %}