{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <a href="{% url 'orgs' %}" class="navbar-brand" style="color: #ffc107; margin-left: 10px;">Система управления ключами</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'orgs' %}" class="nav-link">Организации</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'keys' %}" class="nav-link">Ключи</a>
                </li>
            </ul>
        </div>
</nav>
