{% extends 'organization/base.html' %}


{% block navbar %}
{% include 'organization/navbar.html' %}
{% endblock %}

{% block content %}


<div class="container">
  <div class="jumbotron">
    <div class="card">
      <div class="card-header">Система управления ключами</div>
      <div class="card-body">
        <h5 class="card-title">Список доступных организаций</h5>
        <table class="table table-light table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Навзвание организации</th>
              <th scope="col">Действия</th>

            </tr>
          </thead>
          <tbody>
          {% for org in organizations %}
            <tr>
              <th class="center" scope="row">{{org.id}}</th>
              <td>{{org.name}}</td>
              <td>
                <button class="btn btn-dark"><a style="text-decoration: none; color: #ffc107" href="{% url 'del_org' org.id %}">Удалить</a></button>
                <button class="btn btn-light"><a style="text-decoration: none; color: #ffc107" href="{% url 'create_org' %}"> Добавить</a></button>
                <button class="btn btn-dark"><a style="text-decoration: none; color: #ffc107" href="{% url 'update_org' org.id %}">Изменить</a></button>
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}